In [230]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "/Users/bennetyousuf/Desktop/BCS/pandas-challenge/HeroesofPymoli/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

#view full data frame
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [231]:
#find total number of unique players
total_players = len(purchase_data_df["SN"].unique())
total_players

576

In [232]:
#Display Total Number of Players
player_dicts =[{"Total Players": total_players}]
player_dicts_df = pd.DataFrame(player_dicts)
player_dicts_df

   Total Players
0            576

In [233]:
#Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, number of purchases, total revenue
#create data frame for unique number of item

unique_items = len(purchase_data_df["Item Name"].unique()) 
unique_items
#average_price
# Create a summary data frame to hold the results
# data_file

# Optional: give the displayed data cleaner formatting


# Display the summary data frame

179

In [234]:
#Purchasing Analysis (Total)
#create data frame for average number of purchases
average_price_rounded = round(purchase_data_df["Price"].mean(),2)
average_price = average_price_rounded
average_price


# average_price_string= average_price_rounded.astype(int)
# grades[col] = grades[col].astype(dtype=np.float64)
# average_price ='$' + average_price_string
# average_price

3.05

In [235]:
#Purchasing Analysis (Total)
#create data frame for total number of purchases 
#each purchase id is unique to a single purchase, take the count of unique purchase ids

total_number_purchases = len(purchase_data_df["Purchase ID"].unique())
total_number_purchases

780

In [277]:
#Purchasing Analysis (Total)
#create data frame for total revenue
# total_revenue_float = purchase_data_df["Price"].sum()
# total_revenue_string = total_revenue.astype(str)
# total_revenue = "$" + total_revenue_string
# total_revenue 

total_revenue_float= purchase_data_df["Price"].sum()
total_revenue_currency = total_revenue_float.style.format("${:,.2f}")
total_revenue = total_revenue_currency
total_revenue

# df['DataFrame Column'] = df['DataFrame Column'].astype(str)
# total_revenue

AttributeError: 'numpy.float64' object has no attribute 'style'

In [248]:
#Purchasing Analysis (Total)
#create summary data frame for all values
#fill in colums in order using dictionary, list

# summary_table_df = pd.DataFrame[unique_items,average_price, total_number_purchases, total_revenue]
# summary_table_df 

summary_table = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Total Number of Purchases":[total_number_purchases],
    "Total Revenue":[total_revenue]})

summary_table


# pd.DataFrame({"Number of Unique Items": item_count,
#                              "Total Revenue": [total_purchase_value],
#                              "Number of Purchases": [purchase_count],
#                              "Average Price": [average_item_price]})


# summary_dicts=[{"unique_items", "average_price", "total_number_purchases", "total_revenue_df"}]
# summary_table_df = pd.DataFrame(summary_dicts)
# summary_table_df

# #Display Total Number of Players
# player_dicts =[{"Total Players": "576"}]
# player_dicts_df = pd.DataFrame(player_dicts)
#c# player_dicts_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,$2379.77

In [254]:
#Gender Demographics
#create a new data frame player_data to show total . Use loc to return just the columns "Gender" "SN", "Age from the purchase_data_df
#drop duplicate values in player_data data frame
#create a new data frame gender_totals_df that takes a value count of the occurances of each value in the "Gender" column of the player_data data frame of "Male/Fema with a value count of just player information. Use loc to return the columns "Gender", "SN", "Age" from the original purchase_data_df, drop duplicates, and then do a value count of the new player_data_df to count the occurances of each value (Male/Female/Other) in the "Gender" column

player_data = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_data = player_data.drop_duplicates()
gender_totals = player_data["Gender"].value_counts()
gender_totals_df

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11

In [252]:
#Gender Demographics
#create a new data frame gender_percentages to show total percentages of each gender. Values in gender_percentages are = gender_totals_df divided by total_players df created earlier * 100

gender_percentages_df= gender_totals_df / total_players *100
gender_percentages_df= round(gender_percentages,2)
gender_percentages_df

                       Total Count
Male                         84.03
Female                       14.06
Other / Non-Disclosed         1.91

In [278]:
#Gender Demographics
#Create Summary Data Frame Showing Total Count of Gender and Percentages by appending gender_totals_df and percentage_df using dictionary

# gender_demographics_df = pd.DataFrame({"Total Count": gender_totals,"Percentage of Players": gender_percentages}) 

gender_demographics_df = pd.DataFrame({"Percentage of Players": [gender_percentages],"Total Count": [gender_totals]})

gender_demographics_df

,Percentage of Players,Total Count
0,Total Count Male ...,Male 484 Female ...

In [ ]:

player_data = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_data = player_data.drop_duplicates()
gender_totals = player_data["Gender"].value_counts()
# gender_totals_df = pd.DataFrame({"Total Count": gender_totals})
percentage_df= gender_totals_df / total_players *100
percentage_df

#removes duplicate rows in the new data frame
#series count of the types of values in the column; so in this case in "Gender" we have a count of occurnaces of the values "Male", "Female and other

In [ ]:
# male = purchase_data_df["Gender"] == "Male"
# male.count()

# = purchase_data_df["Gender"] =="Male"
# male_players_returned = male_players_only.loc[["Gender"] =="Male", :]
# male_players
# df.loc[df['column_name'] == some_value]
# gender_as_index = purchase_data_df.set_index("Gender")
# male_players_df = gender_as_index.loc[["Male"],["Gender"]]
# print()
# # count_male_players = df.lo.c["Male", "Gender"]

# purchase_data_df["Gender"]== "Male"
# count_male_players.count

#use loc to return all rows in "Gender where value = male

# count of male players = count ["Gender"] Male
# percentage = count Gender male / total row in gender column

# purchase_data_df

#  Gender Demographics
# Percentage and Count of Male Players 
# Note: Total Number of Players Calculated Above as 576