In [326]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "/Users/bennetyousuf/Desktop/BCS/pandas-challenge/HeroesofPymoli/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

#view full data frame
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [327]:
#find total number of unique players
total_players = len(purchase_data_df["SN"].unique())
total_players

576

In [328]:
#Display Total Number of Players
player_dicts =[{"Total Players": total_players}]
player_dicts_df = pd.DataFrame(player_dicts)
player_dicts_df

   Total Players
0            576

In [329]:
#Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, number of purchases, total revenue
#create data frame for unique number of item

unique_items = len(purchase_data_df["Item Name"].unique()) 
unique_items
#average_price
# Create a summary data frame to hold the results
# data_file

# Optional: give the displayed data cleaner formatting


# Display the summary data frame

179

In [330]:
#Purchasing Analysis (Total)
#create data frame for average number of purchases
average_price_rounded = round(purchase_data_df["Price"].mean(),2)
average_price = average_price_rounded
average_price


# average_price_string= average_price_rounded.astype(int)
# grades[col] = grades[col].astype(dtype=np.float64)
# average_price ='$' + average_price_string
# average_price

3.05

In [331]:
#Purchasing Analysis (Total)
#create data frame for total number of purchases 
#each purchase id is unique to a single purchase, take the count of unique purchase ids

total_number_purchases = len(purchase_data_df["Purchase ID"].unique())
total_number_purchases

780

In [332]:
#Purchasing Analysis (Total)
#create data frame for total revenue
# total_revenue_float = purchase_data_df["Price"].sum()
# total_revenue_string = total_revenue.astype(str)
# total_revenue = "$" + total_revenue_string
# total_revenue 

total_revenue_float= purchase_data_df["Price"].sum()
total_revenue = total_revenue_float
total_revenue

# df['DataFrame Column'] = df['DataFrame Column'].astype(str)
# total_revenue

2379.77

In [336]:
#Purchasing Analysis (Total)
#create summary data frame for all values
#fill in colums in order using dictionary, list

# summary_table_df = pd.DataFrame[unique_items,average_price, total_number_purchases, total_revenue]
# summary_table_df 

summary_table = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Total Number of Purchases":[total_number_purchases],
    "Total Revenue":[total_revenue]})

summary_table


# pd.DataFrame({"Number of Unique Items": item_count,
#                              "Total Revenue": [total_purchase_value],
#                              "Number of Purchases": [purchase_count],
#                              "Average Price": [average_item_price]})


# summary_dicts=[{"unique_items", "average_price", "total_number_purchases", "total_revenue_df"}]
# summary_table_df = pd.DataFrame(summary_dicts)
# summary_table_df

# #Display Total Number of Players
# player_dicts =[{"Total Players": "576"}]
# player_dicts_df = pd.DataFrame(player_dicts)
#c# player_dicts_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [340]:
#Gender Demographics
#create a new data frame player_data to show total . Use loc to return just the columns "Gender" "SN", "Age from the purchase_data_df
#drop duplicate values in player_data data frame
#create a new data frame gender_totals_df that takes a value count of the occurances of each value in the "Gender" column of the player_data data frame of "Male/Fema with a value count of just player information. Use loc to return the columns "Gender", "SN", "Age" from the original purchase_data_df, drop duplicates, and then do a value count of the new player_data_df to count the occurances of each value (Male/Female/Other) in the "Gender" column

player_data = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_data = player_data.drop_duplicates()
gender_totals = player_data["Gender"].value_counts()
gender_totals

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [342]:
#Gender Demographics
#create a new data frame gender_percentages to show total percentages of each gender. Values in gender_percentages are = gender_totals_df divided by total_players df created earlier * 100

gender_percentages_df= gender_totals / total_players *100
gender_percentages_df= round(gender_percentages,2)
gender_percentages_df

                       Total Count
Male                         84.03
Female                       14.06
Other / Non-Disclosed         1.91

In [343]:
#Gender Demographics
#Create Summary Data Frame Showing Total Count of Gender and Percentages by appending gender_totals_df and percentage_df using dictionary

# gender_demographics_df = pd.DataFrame({"Total Count": gender_totals,"Percentage of Players": gender_percentages}) 

gender_demographics_df = pd.DataFrame({"Percentage of Players": [gender_percentages],"Total Count": [gender_totals]})

gender_demographics_df

,Percentage of Players,Total Count
0,Total Count Male ...,Male 484 Female ...

In [310]:
#Purchasing Analysis 
#Purchase Count Grouped by Gender
# Count apperas in Purchase ID column as its the count of all purchases made by each gender

purchase_count_group = purchase_data_df.groupby(["Gender"])
purchase_count = purchase_count_group_df.count()
purchase_count

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [305]:
#Purchasing Analysis 
#Average Purchase Price Grouped by Gender
#Average Purchase Price appears in the "Price" column as its the average of all prices grouped by gender
purchase_average_price = purchase_data_df.groupby(["Gender"])
purchase_average_price =purchase_average_price_df.mean()
purchase_average_price_df

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.095092  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

In [303]:
#Purchasing Analysis 
#Total Purchase Value Grouped by Gender
#Total Purchase value appears in the "Price" column as its the sum of all prices grouped by gender
total_purchase = purchase_data_df.groupby(["Gender"])
total_purchase = total_purchase_df.sum()
total_purchase

Purchase ID    303810.00
Age             17717.00
Item ID         71569.00
Price            2379.77
dtype: float64

In [ ]:
#Purchasing Analysis
#Average Total Purchase per Person

In [309]:
#Purchasing Analysis
#Summary Table

purchasing_analysis = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":purchase_average_price,
    "Total Purchase Price":total_purchase})

purchasing_analysis

ValueError: Shape of passed values is (6, 3), indices imply (4, 3)